/*--------------------------Content--------------------------------------------*/
.page-blog #section-header{
    width: 1020px;
    height: 220px;
    z-index: 2;
}

.page-blog #region-header{
    margin: 0 auto;
    width: 960px;
    height: 60px;
    background: #FFFFFF;
    z-index: 2;
}

.page-blog .breadcrumb{
    padding: 0;
}
/*---------------------------Blog title in content---------------------------*/
.page-blog #region-content h1#page-title{
    display: none;
}
/*-----------------------------Header-----------------------------------------*/
.page-blog #block-menu-festival-link-custom-pager-filter{
    height: 60px;
}
.page-blog #region-header .block-inner{
    padding: 10px;
}
.page-blog #region-header h1#page-title{
    margin-bottom: 0px;
}
/*отключил лишнее*/
.page-blog .block-views-festivals-block{
    display: none;
}

.page-blog #region-content .views-row{
    width: 550px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.page-blog #region-content .views-row .blog_left_part,
/*.page-blog #region-content .views-row .blog_central_part,*/
.page-blog #region-content .views-row .blog_right_part{
    margin-bottom: -10000px; 
    padding-bottom: 10000px; 
}

.page-blog #region-content .views-row.festival-color1 .blog_left_part{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    background: #00adef;
    /*background: url(../images/content/green.png) no-repeat top left;*/
}
.page-blog #region-content .views-row.festival-color2 .blog_left_part{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    background: #ff8f05;
    /*background: url(../images/content/orange.png) no-repeat top left;*/
}
.page-blog #region-content .views-row.festival-color3 .blog_left_part{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    background: #ec008c;
    /*background: url(../images/content/purple.png) no-repeat top left;*/
}

.page-blog #region-content .views-row .blog_right_part{
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 370px;
    background: #fff;
    margin-left: 10px;
}

/*.page-blog #region-content .views-row .blog_central_part{
    overflow: hidden;
    background: transparent;
}*/

/*-------------margin in right part in content part on blog page--------------*/
.page-blog #region-content .views-row .blog_right_part .views-field-title,
.page-blog #region-content .views-row .blog_right_part .views-field-body,
.page-blog #region-content .views-row .blog_right_part .views-field-field-video,
.page-blog #region-content .views-row .blog_right_part .views-field-field-blog-image,
.page-blog #region-content .views-row .blog_right_part .views-field-sharethis{
    margin-top: 5px;
    margin-bottom: 10px;
}

/*-------------margin in left part in content part on blog page--------------*/
.page-blog #region-content .views-row .blog_left_part .views-field-created,
.page-blog #region-content .views-row .blog_left_part .views-field-name{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*------------------------------view-filters----------------------------------*/
.page-blog #region-content .view-filters{
    display: none;
}

/*-----------------------------Blog search------------------------------------*/
.page-blog .views-exposed-form .views-exposed-widget{
    padding: 0;
}
.page-blog .views-exposed-form{
    position: absolute;
    right: 95px;
    top: 10px;
    z-index: 10;
}

.page-blog .views-exposed-widgets{
    border-width: 0px;
    border-style: none;
    width: 280px;
    height: 13px;
    overflow: hidden;
}

.page-blog .views-exposed-form #edit-keys-wrapper,
.page-blog .views-exposed-form .views-submit-button{
    margin: 0;
    padding: 0;
}

/*-------------------------------search text field-----------------------------*/
.page-blog .views-exposed-form #edit-keys-wrapper input{
    margin: 0;
    padding: 0;
    height: 13px;
    /*padding-bottom: 5px;*/
    width: 138px;
    border: none;
    font: normal 10px 'trebuchet MS', arial, helvetica;
    background: url(../images/header/searchbox.png) no-repeat center 0;
    text-indent: 5px;

    -moz-border-radius: 0;
     border-radius: 0;
     
     float: left;
     /*position: relative;*/
}

.page-blog .views-exposed-form #edit-keys-wrapper input:focus,
.page-blog .views-exposed-form #edit-keys-wrapper input:active{
    box-shadow: none;
}


/*------------------------------search button---------------------------------*/
.page-blog .views-exposed-form .views-submit-button input{
    background: url(../images/header/searchbutton.png) no-repeat center 0;
    
    -moz-border-radius: 0;
    border-radius: 0;

    border-width: 0;
    border-style: none;

    width: 12px;
    height: 13px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    box-shadow: none;
    /*position: relative;*/
}

/*-------------------------выпадающий спискок---------------------------------*/
.page-blog .views-exposed-form #edit-date-filter-wrapper select#edit-date-filter-value-year{
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Arial,sans-serif;
    font-size: 8px;
    width: 70px;
    border: 1px solid #73c049;
    height: 12px;
    
    
    -moz-border-radius: 0;
    border-radius: 0;
  
    float: left;
    position: relative;
    cursor: pointer;
    box-shadow: none;
}

.page-blog .views-exposed-form #edit-date-filter-wrapper select#edit-date-filter-value-month{
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Arial,sans-serif;
    font-size: 8px;
    width: 70px;
    border: 1px solid #73c049;
    height: 12px;
    
    
    -moz-border-radius: 0;
    border-radius: 0;
  
    float: left;
    position: relative;
    cursor: pointer;
    box-shadow: none;
}

.page-blog .views-exposed-form #edit-date-filter-wrapper  .date-month{
    width: 50px;
    height: 12px;
    overflow: hidden;
    background: url(../images/select/but.png) no-repeat right 0; 
    margin-right: 3px;
}

.page-blog .views-exposed-form #edit-date-filter-wrapper .date-year{
    width: 50px;
    height: 12px;
    overflow: hidden;
    background: url(../images/select/but.png) no-repeat right 0;
    margin-right: 3px;
}

.page-blog .views-exposed-form #edit-date-filter-wrapper option{
    background-color: #73c049;
    color: white;
    margin: 0;
}

/*----------------------invisible pager down----------------------------------*/
.page-blog #region-content .view-blog .item-list{
    display: none;
}

.page-blog #region-content .view-blog h2.element-invisible{
    display: none;
}


/*-------------------------------Pager for a blog-----------------------------*/

.page-blog .ajax-progress-throbber{
    display: none;
}

.page-blog #region-header #pager-up h2{
    display: none;
}

.page-blog #region-header .pager{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: transparent;
    border-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 0px;
}

.page-blog #region-header .pager li.pager-first a,
.page-blog #region-header .pager li.pager-previous a,
.page-blog #region-header .pager li.pager-next a,
.page-blog #region-header li.pager-last a{
    width: 12px;
    height: 12px;
    padding: 0;
    text-align: center;
    display: block;
    float:left;
}

.page-blog #region-header .pager li.pager-first img,
.page-blog #region-header .pager li.pager-last img{
    margin: 0;
    padding: 0;
}

.page-blog #region-header .pager li.pager-last,
.page-blog #region-header .pager li.pager-last a,
.page-blog #region-header .pager li.pager-last a:hover{
    border-radius: 0;
}

.page-blog #region-header ul.pager{
    border: 0;
}

.page-blog #region-header #pager-blog{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 60px;
}

.page-blog #region-header .pager .pager-item{
    margin: 0;
    padding: 0;
}

.page-blog #region-header ul.pager li{
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 10px;
    margin-right: 5px;
}

.page-blog #region-header ul.pager li a{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: gray;
    margin-right: 5px;
    background: none;
}

.page-blog #region-header ul.pager .pager-current{
    font-weight: bold;
    color: black;
    background: none;
}

.page-blog #region-header ul.pager a:link,
.page-blog #region-header ul.pager a:visited {
    padding: 0;
    color: gray;
    text-decoration:none;
    display:block;
    float:left;
    background: none;
}

.page-blog #region-header ul.pager a:hover{
    color: black;
    background: none;
}

.page-blog #region-header ul.pager .pager-first{
    display: block;
    width: 12px;
    height: 12px;
    float: left;
}

.page-blog #region-header ul.pager .pager-last{
    display: block;
    width: 12px;
    height: 12px;
    float: right;
    margin-right: 0;
}

.page-node article .submitted,
.page-node article .node-links{
    display: none;
}

