/*скрыл лишнее*/
/*.page-checkout .breadcrumb{
    display: none;
}*/

.page-cart #region-content .views-row .left_part,
.page-cart #region-content .views-row .right_part{
    margin-bottom: -10000px; 
    padding-bottom: 10000px; 
}

/*---------------------------Shopping cart/Cheak out page---------------------*/
.page-cart #region-content .block-inner,
.page-checkout  #region-content .block-inner{
    padding: 10px;
}

.page-cart #region-content .view-content{
    margin-top: 45px;
}

/*---------------------------remove focus-------------------------------------*/
.page-checkout input:focus,
.page-checkout input:active,
.page-checkout select:focus,
.page-checkout select:active{
    box-shadow: none;
}

/*-----------------------------left/rigth parts-------------------------------*/
.page-cart #region-content .views-row .left_part{
    float: left;
    width: 135px;
}

.page-cart #region-content .views-row .right_part{
    float: right;
    width: 390px;/*405*/
}

.page-cart #region-content .views-row #cart-content{
    width: 530px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}
/*---------------------Shoping cart content in check out-----------------------*/

.page-checkout #commerce-checkout-form-checkout{
    margin-top: 40px;
}

.page-checkout #commerce-checkout-form-checkout fieldset{
    margin-bottom: 20px;
}

.page-checkout #edit-cart-contents legend{
    display: none;
}

/*----------------------------------Table-------------------------------------*/
.page-cart #block-system-main .view-content table,
.page-checkout #edit-cart-contents .view-content table{
    width: 100%;
    border: none;
}

.page-checkout .commerce-price-formatted-components{
    border: none;
}

.page-checkout .commerce-price-formatted-components tr.even,
.page-checkout .commerce-price-formatted-components tr.odd{
    border-bottom: none;
}

.page-checkout #region-content .field-name-commerce-order-total{
    border-bottom: 1px solid #CCCCCC;
}

.page-checkout #region-content #edit-checkout-review .field-name-commerce-order-total{
    border-bottom: none;
}

.page-checkout .view-footer table{
    margin-bottom: 0px;
}

.panels-flexible-region-new-center{
    float: none;
    width: 100%;
}

.page-cart #block-system-main .view-content tr:hover td,
.page-cart #block-system-main .view-content tr.even:hover td.active,
.page-cart #block-system-main .view-content tr.odd:hover td.active,
.page-checkout #block-system-main .view-content tr:hover td,
.page-checkout #block-system-main .view-content tr.even:hover td.active,
.page-checkout #block-system-main .view-content tr.odd:hover td.active,
.page-checkout #block-system-main .commerce-price-formatted-components tr:hover td,
.page-checkout #block-system-main .commerce-price-formatted-components tr.even:hover td.active,
.page-checkout #block-system-main .commerce-price-formatted-components tr.odd:hover td.active,
.page-checkout #block-system-main #commerce-checkout-form-review tr:hover td,
.page-checkout #block-system-main #commerce-checkout-form-review tr.even:hover td.active,
.page-checkout #block-system-main #commerce-checkout-form-review tr.odd:hover td.active{
    background: none;
}

.page-cart #block-system-main .view-content tr.even, 
.page-cart #block-system-main .view-content tr.odd,
.page-cart #block-system-main .view-content tr.odd td,
.page-checkout #block-system-main .view-content tr.even, 
.page-checkout #block-system-main .view-content tr.odd,
.page-checkout #block-system-main .view-content tr.odd td,
.page-checkout #block-system-main .commerce-price-formatted-components tr.even, 
.page-checkout #block-system-main .commerce-price-formatted-components tr.odd,
.page-checkout #block-system-main .commerce-price-formatted-components tr.odd td,
.page-checkout #block-system-main #commerce-checkout-form-review tr.even, 
.page-checkout #block-system-main #commerce-checkout-form-review tr.odd,
.page-checkout #block-system-main #commerce-checkout-form-review tr.odd td,
.page-checkout #block-system-main #commerce-checkout-form-review tr.even td{
    background:none;
}

/*------------------------Blue td in table------------------------------------*/
.page-checkout #block-system-main #commerce-checkout-form-review tr.even td,
.page-checkout #block-system-main #commerce-checkout-form-review tr.even td:hover{
    background: none repeat scroll 0 0 #F1F5FA
}


/*----------------------Contact infomation in check out-----------------------*/
.page-checkout .name-block,
.page-checkout .thoroughfare,
.page-checkout .premise{
    width: 530px;
    height: 20px;
}

.page-checkout .form-item,
.page-checkout .form-actions{
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-checkout .locality,
.page-checkout .country{
    width: 250px;
    height: 20px;
}

.page-checkout .country{
    font-size: 12px;
    padding: 0;
}
.page-checkout .postal-code,
.page-checkout .state{
    height: 20px;
}

.page-checkout #edit-buttons{
    float: right;
}


/*----------------------------------Cart info---------------------------------*/
.page-checkout #region-content .views-row{
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 5px;
}


/**/
.page-cart .views-field-commerce-unit-price,
.page-cart .views-field-commerce-total,
.page-cart .views-field-edit-quantity,
.page-checkout .views-field-commerce-total{
    display: block;
}

.page-cart .views-field-commerce-unit-price span,
.page-cart .views-field-commerce-total span,
.page-checkout .views-field-commerce-total span,
.page-checkout .views-field-quantity span,
.page-checkout .backup,
.page-checkout .views-field-commerce-unit-price div{
    float: left;
    margin-right: 5px;
}

.page-cart .views-field-edit-quantity span.views-label-edit-quantity{
    float: left;
    margin-right: 5px;
}

.page-cart .views-field-edit-quantity input{
    width: auto;
    height: 12px;
    font-size: 10px;
    padding: 0;
    box-shadow: none;
}

.page-cart .views-field-edit-quantity .form-item,
.page-cart .views-field-edit-quantity .form-actions{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*-----------------"remove button in shopping cart-----------------------------*/
.page-cart .views-field-edit-delete{
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/*---------------*/
.page-checkout .views-field-commerce-total{
    margin-left: auto;
    width: 15%;
    text-align: center;
}

/*-------------------Button in check out--------------------------------------*/
.page-checkout .checkout-buttons .checkout-continue{
    background: url(../images/content/paypalbutton.png)no-repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 4px 6px;
    width: auto;
    height: 43px;
    border-radius: 0;
    width: 136px;
    font-size: 0;
}

/*------------------------Confirmation----------------------------------------*/
.page-checkout #block-system-main .content{
    margin-top: 45px;
}

/*-------------------------------------Review---------------------------------*/
.page-checkout #block-system-main #edit-checkout-review tr.even td{
    padding: 0px 0px;
}

.page-checkout #block-system-main #edit-checkout-review .view-commerce-cart-summary,
.page-checkout #block-system-main #edit-checkout-review .form-item,
.page-checkout #block-system-main #edit-checkout-review .field-name-commerce-customer-address{
    padding: 4px 8px;
    width: 510px;
}



