/*-------------admin view/edit panel in node------------------------*/
ul.primary{
    margin-top: 0;
}

.page-home h1#page-title{
    display: none;
}

/*----------------------------------breadcrumbs-------------------------------*/
.page-news .breadcrumb,
.page-node .breadcrumb,
.page-events .breadcrumb,
.page-festival .breadcrumb,
.page-cart .breadcrumb{
    float: right;
    text-align: right;
    width: 350px;
    font-size: 10px;
    font-style: italic;
    margin-right: 10px;
    color: #58595b;
    padding-top: 5px;
    padding-bottom: 0;
}

.breadcrumb a:visited,
.breadcrumb a:link,
.breadcrumb a{
  color: #58595b;
  text-decoration: none;
}

.page-news .breadcrumb a:hover,
.page-node .breadcrumb a:hover,
.page-events .breadcrumb a:hover,
.page-festival .breadcrumb a:hover{
    text-decoration: underline;
}

.page-home .breadcrumb{
    padding: 0;
}

/*--------------------left part of content----------------------------------*/
.page-home .fest_row_homepage{
    width: 550px;
    height: 310px;
    position: relative;
    background: white;
    margin-bottom: 10px;
}

/*-----------------------content image---------------------------------------*/
.page-home .views-field-field-image-homepage-event,
.page-home .views-field-field-image-homepage-fest,
.page-home .views-field-field-image-homepage-news,
.page-home .views-field-field-image-homepage{
   /* padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 30px;*/
   /* float: right;
    z-index: 1;*/
}

.page-home .views-field-field-image-homepage-event img,
.page-home .views-field-field-image-homepage-fest img,
.page-home .views-field-field-image-homepage-news img,
.page-home .views-field-field-image-homepage img{
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 30px;
    z-index: 1;
}

/*-------------------------left part of content block-------------------------*/
.page-home .festival-left-part{
    float: left;
    line-height: 1.2em;
    color: #ffffff;
    /*text-align: left;*/
    /*width: 140px;
    height: 250px;*/
    
    width: 138px;
    height: 249px;
    
    font-size: 12px;
    margin: 15px 0 30px 15px; 
    padding: 8px;
    z-index: 10;
}

.page-home .fest_row_homepage .sharethis-wrapper{
    position: absolute;
    float: right;
    /*width: 110px;*/
    z-index: 2;
    right: 10px;
    bottom: 8px;
}

/*----------------bg left part in content block on homepage-------------------*/

.page-home .festival-color1 .festival-left-part{
    background: url(../images/content/green.png) no-repeat top left;
}

.page-home .festival-color2 .festival-left-part{
    background: url(../images/content/orange.png) no-repeat top left;
}

.page-home .festival-color3 .festival-left-part{
    background: url(../images/content/purple.png) no-repeat top left;
}