.page-events .region-content-inner,
.node-type-event .region-content-inner{ /*#block-system-main .view-content/*.view-events{*/
    background: #FFFFFF;
}

.page-events #block-system-main .view-content{
    margin-left: 80px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 430px;
    height: 480px;
    padding: 0;
    /*position: relative;
    top: 50px;
    left: 80px;*/
}

.page-node #block-system-main .view-content /*.view-events*/ tr:hover td,
.page-node #block-system-main .view-content /*.view-events*/ tr.even:hover td.active,
.page-node #block-system-main .view-content /*.view-events*/ tr.odd:hover td.active,
.page-events #block-system-main .view-content /*.view-events*/ tr:hover td,
.page-events #block-system-main .view-content /*.view-events*/ tr.even:hover td.active,
.page-events #block-system-main .view-content /*.view-events*/ tr.odd:hover td.active
{
  background: none;
}

.page-node #block-system-main .view-content table,
.page-events #block-system-main .view-content table{
    border: 0 none;
}

/*.page-events .views-exposed-form-events-page input{
    margin-left: 10px;
}

.page-events .views-exposed-form-events-page{
    border-width: 0px;
    border-style: none;
}*/

.page-events #block-system-main .views-view-grid{
    /*margin: 10px auto;*/
    /*width: 430px;
    height: 480px;
    padding: 0;
    position: relative;
    top: 50px;
    left: 80px;*/
}

.page-events #block-system-main .views-view-grid tr{
    margin: 0;
    padding: 0;
}

.page-events #block-system-main .views-view-grid td{
    margin: 0;
    padding: 0;
    vertical-align: 0;
}

.page-events #block-system-main .views-view-grid .views-field-field-event-image{
    float: left;
}

.page-events #block-system-main .views-view-grid .views-field-field-event-image img{
    /*margin: 5px 5px 5px 15px;*/
    margin: 5px 0px 0px 15px;
}

/*.page-events .views-field-title,
.page-events .views-field-body{*/
.page-events .events-body{
    /*margin: 105px 5px 5px 15px;*/
    margin: 105px 0 0 15px;
    background: #231f20;
    width: 135px;
    height: 50px;
    position: absolute; 
    text-align: left;
    font: normal 'trebuchet MS', tahoma, arial, helvetica;
    overflow: hidden;
}

.page-events .events-body p,
.page-events .events-body a{
    margin-bottom: 3px;
    color: white;
}

.page-events .events-body p{
    margin-left: 5px;
}

.page-events .events-body .views-field-title{
    margin-left: 5px;
    font-size: 10px;
    margin-bottom: 3px;
}

.page-events .events-body .views-field-title a{
    text-decoration: none;
    color: #fff;
}

.page-events .events-body .views-field-title a:hover{
    text-decoration: none;
    color: #fff;
}

.page-events .events-body .views-field-body{
    margin-left: 5px;
    font-size: 8px;
    color: #fff;
    margin-bottom: 3px;
}

/*forms with search*/
.page-events .views-exposed-form{
    float: right;
    position: absolute;
    right: 95px;
    top: 25px;
    z-index: 10;
}

.page-events views-exposed-widgets{
    border-width: 0px;
    border-style: none;
    width: 150px;
    height: 13px;
    overflow: hidden;
}

.page-events .views-exposed-form #edit-field-event-date-value-wrapper{
    display: none;
}

.page-events .views-exposed-form #edit-tid-wrapper{
    display: none;
}

.page-events .views-exposed-form #edit-keys-wrapper,
.page-events .views-exposed-form .views-submit-button
{
    margin: 0;
    padding: 0;
    /*float: right;*/
}

/*text field*/
.page-events .views-exposed-form #edit-keys-wrapper input{
    margin: 0;
    padding: 0;
    height: 13px;
    /*padding-bottom: 5px;*/
    width: 138px;
    border: none;
    font: normal 10px 'trebuchet MS', arial, helvetica;
    background: url(../images/header/searchbox.png) no-repeat center 0;
    text-indent: 5px;

    -moz-border-radius: 0;
     border-radius: 0;
     
     float: left;
     position: relative;
}

/*button*/
.page-events .views-exposed-form .views-submit-button input{
    background: url(../images/header/searchbutton.png) no-repeat center 0;
    
    -moz-border-radius: 0;
    border-radius: 0;

    border-width: 0;
    border-style: none;

    width: 12px;
    height: 13px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    position: relative;
}

/*date search*/
.block-menu-festival-link-date-filter{
    /*display: none;*/
    width: 85px;
    position: absolute;
    top: 50px;
    left: 0;
}

/*изначально свернуто*/
.closed-ul-filter{
    display: none;
}

.type-filter-events-all,
.date-filter-events-all,
.tax-filter-events-all{
    display: block;
    margin-bottom: 5px;
    /*position: relative;*/
    /*width: 100px;*/
}

.type-filter-events-all img,
.date-filter-events-all img,
.tax-filter-events-all  img{
    /*float: right;*/
    margin-bottom: 3px;
    /*margin: 0;*/
    padding: 0;
}

.type-filter-events-all a,
.date-filter-events-all a,
.tax-filter-events-all  a{
    padding: 0;
    margin: 0;
}

.filter-button{
    /*margin-top: 5px;*/
    margin-left: 10px;
    width: 60px;
    float: left;
}

.filter-button:hover{
    text-decoration: underline;
}   

#filter-ul ul{
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
}

#filter-ul ul li{
    border: 0;
    width: 70px;
}

#filter-ul ul li a{
  /*padding: 0.4em 10px 0.4em 10px;*/
  text-decoration: none;
  color: black;
}

#filter-ul ul li a:hover {
    text-decoration: underline;
}

#filter-ul ul li img{
    float: right;
    margin-top: 7px;
    padding: 0;
}



/*
.node-type-event .event_node_left_part{
    
}*/
