.page-events .region-content-inner,
.node-type-event .region-content-inner,
.page-festival .region-content-inner{ /*#block-system-main .view-content/*.view-events{*/
    background: #FFFFFF;
}

.page-events #region-content,
.page-festival #region-content,
.page-node #region-content{
    background: #FFFFFF;
    min-height: 500px;
}

.page-events #block-system-main,
.page-festival #block-system-main{
    float: right;
    width: 445px;
    position: relative;
}

/*------------------------------Table with events---------------------------*/
.panels-flexible-region-new-center{
    float: none;
    width: 100%;
}

.page-events #block-system-main .view-content/*,
.page-festival #block-system-main .view-content*/{
   width: 420px;
   /*height: 480px;*/
   padding: 0;
   float: right;
   display: block;
   margin-top: 10px;
   margin-right: 20px;
}
/*-----------------------------for a festivale page---------------------------*/
.page-festival #block-system-main .view-content{
   width: 420px;
   padding: 0;
   float: right;
   display: block;
   margin-top: 10px;
   margin-right: 20px;
}
/*-----------------------------------------------------------------------------*/
.page-node #block-system-main .view-content /*.view-events*/ tr:hover td,
.page-node #block-system-main .view-content /*.view-events*/ tr.even:hover td.active,
.page-node #block-system-main .view-content /*.view-events*/ tr.odd:hover td.active,
.page-events #block-system-main .view-content /*.view-events*/ tr:hover td,
.page-events #block-system-main .view-content /*.view-events*/ tr.even:hover td.active,
.page-events #block-system-main .view-content /*.view-events*/ tr.odd:hover td.active,
.page-festival #block-system-main .view-content tr:hover td,
.page-festival #block-system-main .view-content tr.even:hover td.active,
.page-festival #block-system-main .view-content tr.odd:hover td.active
{
  background: none;
}

.page-node #block-system-main .view-content table,
.page-events #block-system-main .view-content table,
.page-festival #block-system-main .view-content table{
    border: 0 none;
}

/*.page-events .views-exposed-form-events-page input{
    margin-left: 10px;
}

.page-events .views-exposed-form-events-page{
    border-width: 0px;
    border-style: none;
}*/

.page-events #block-system-main .views-view-grid,
.page-festival #block-system-main .views-view-grid{
   width: 430px;
}

.page-events #block-system-main .views-view-grid tr
.page-node #block-system-main .views-view-grid tr,
.page-festival #block-system-main .views-view-grid tr{
    margin: 0;
    /*margin-bottom: 5px;*/
    padding: 0;
}

.page-events #block-system-main .views-view-grid td,
.page-node #block-system-main .views-view-grid td,
.page-festival #block-system-main .views-view-grid td{
    margin: 0;
    padding: 0;
    vertical-align: 0;
    display: block;
    position: relative;
    float: left;
    width: 135px;
    height: 165px;
    margin: 0 5px 0 0;
}
/*---------------------------Image in table-----------------------------------*/
.page-events #block-system-main .views-view-grid .views-field-field-event-image,
.page-festival #block-system-main .views-view-grid .views-field-field-event-image{
    float: left;
}

.page-events #block-system-main .views-view-grid .views-field-field-event-image img,
.page-festival #block-system-main .views-view-grid .views-field-field-event-image img{
    /*margin: 5px 5px 5px 15px;*/
    /*margin: 5px 0px 0px 15px;*/
}

/*.page-events .views-field-title,
.page-events .views-field-body{*/
/*---------------------------text on image-----------------------------------*/
.page-events .events-body,
.page-festival .events-body{
    background: #231f20;
    width: 135px;
    height: 50px;
    position: absolute; 
    top: 100px;
    text-align: left;
    font: normal 'trebuchet MS', tahoma, arial, helvetica;
    overflow: hidden;
}

/*.page-events .events-body p,
.page-events .events-body a,
.page-festival .events-body p,
.page-festival .events-body a{
    margin-bottom: 3px;
    color: white;
}*/

.page-events .events-body p,
.page-festival .events-body p{
    margin-top: 3px;
    margin-left: 5px;
}

.page-events .events-body .views-field-title,
.page-festival .events-body .views-field-title{
    margin-left: 5px;
   /* font-size: 10px;
    margin-bottom: 3px;*/
}

.page-events .events-body .views-field-title a,
.page-festival .events-body .views-field-title a{
    text-decoration: none;
    /*color: #fff;*/
}

.page-events .events-body .views-field-title a:hover,
.page-festival .events-body .views-field-title a:hover{
    text-decoration: none;
    color: #fff;
}

.page-events .events-body .views-field-body,
.page-festival .events-body .views-field-body{
    margin-left: 5px;
    /*font-size: 8px;
    color: #fff;*/
    margin-bottom: 3px;
}

/*--------------------------forms with search---------------------------------*/
.page-events .views-exposed-form,
/*.page-festival .views-exposed-form,*/
.page-news .views-exposed-form{
    /*position: absolute;
    right: 95px;
    top: 40px;*/
    float: right;
    margin-right: 95px;
    margin-top: 20px;
    position: relative;
    
 /*   position: absolute;
    right: 95px;
    top: 40px;*/
    
    z-index: 10;
}
/*------------------------------position for a festivale page-----------------*/
.page-festival .views-exposed-form{
    float: right;
    margin-right: 95px;
    margin-top: 0px;
    position: relative;    
    z-index: 10;
}
/*----------------------------------------------------------------------------*/
.page-events .views-exposed-widgets,
.page-festival .views-exposed-widgets{
    border-width: 0px;
    border-style: none;
    width: 150px;
    height: 13px;
    overflow: hidden;
}

.page-news .views-exposed-widgets{
    border-width: 0px;
    border-style: none;
    width: 280px;
    height: 13px;
    overflow: hidden;
}

.page-events .views-exposed-form #edit-field-event-date-value-wrapper,
.page-festival .views-exposed-form #edit-field-event-date-value-wrapper{
    display: none;
}

.page-events .views-exposed-form #edit-tid-wrapper,
.page-festival .views-exposed-form #edit-tid-wrapper{
    display: none;
}

.page-events .views-exposed-form #edit-keys-wrapper,
.page-events .views-exposed-form .views-submit-button,
.page-festival .views-exposed-form #edit-keys-wrapper,
.page-festival .views-exposed-form .views-submit-button,
.page-news .views-exposed-form #edit-keys-wrapper,
.page-news .views-exposed-form .views-submit-button,
.page-news #edit-date-filter-wrapper /*edit-field-publication-date-value-wrapper*/{
    margin: 0;
    padding: 0;
    /*float: right;*/
}

/*-------------------------------search text field-----------------------------*/
.page-events .views-exposed-form #edit-keys-wrapper input,
.page-festival .views-exposed-form #edit-keys-wrapper input,
.page-news .views-exposed-form #edit-keys-wrapper input{
    margin: 0;
    padding: 0;
    height: 13px;
    /*padding-bottom: 5px;*/
    width: 138px;
    border: none;
    font: normal 10px 'trebuchet MS', arial, helvetica;
    background: url(../images/header/searchbox.png) no-repeat center 0;
    text-indent: 5px;

    -moz-border-radius: 0;
     border-radius: 0;
     
     float: left;
     /*position: relative;*/
}

.page-events .views-exposed-form #edit-keys-wrapper input:focus,
.page-events .views-exposed-form #edit-keys-wrapper input:active,
.page-festival .views-exposed-form #edit-keys-wrapper input:focus,
.page-festival .views-exposed-form #edit-keys-wrapper input:active/*,
.page-news .views-exposed-form #edit-keys-wrapper input:focus,
.page-news .views-exposed-form #edit-keys-wrapper input:active*/{
    box-shadow: none;
}

/*------------------------------search button---------------------------------*/
.page-events .views-exposed-form .views-submit-button input,
.page-festival .views-exposed-form .views-submit-button input,
.page-news .views-exposed-form .views-submit-button input{
    background: url(../images/header/searchbutton.png) no-repeat center 0;
    
    -moz-border-radius: 0;
    border-radius: 0;

    border-width: 0;
    border-style: none;

    width: 12px;
    height: 13px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    /*position: relative;*/
}

/*-------------------------Select lest---------------------------------*/
.page-news .views-exposed-form #edit-date-filter-wrapper /*#edit-field-publication-date-value-wrapper*/ /*.form-type-select*/ select#edit-date-filter-value-year{
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Arial,sans-serif;
    font-size: 8px;
    width: 70px;
    border: 1px solid #73c049;
    height: 12px;
    
    
    -moz-border-radius: 0;
    border-radius: 0;
  
    float: left;
    position: relative;
    cursor: pointer;
    box-shadow: none;
}

.page-news .views-exposed-form #edit-date-filter-wrapper select#edit-date-filter-value-month{
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: Arial,sans-serif;
    font-size: 8px;
    width: 70px;
    border: 1px solid #73c049;
    height: 12px;
    
    
    -moz-border-radius: 0;
    border-radius: 0;
  
    float: left;
    position: relative;
    cursor: pointer;
    box-shadow: none;
}

.page-news .views-exposed-form #edit-date-filter-wrapper  .date-month{
    width: 50px;
    height: 12px;
    overflow: hidden;
    background: url(../images/select/but.png) no-repeat right 0; 
    margin-right: 3px;
}

.page-news .views-exposed-form #edit-date-filter-wrapper .date-year{
    width: 50px;
    height: 12px;
    overflow: hidden;
    background: url(../images/select/but.png) no-repeat right 0;
    margin-right: 3px;
}

.page-news .views-exposed-form #edit-date-filter-wrapper option{
    background-color: #73c049;
    color: white;
    margin: 0;
}

/*------------------------------date search filter----------------------------*/
.block-menu-festival-link-date-filter{
    /*display: none;*/
    /*width: 85px;*/
    float: left;
    display: block;
    width: 95px;
    /*position: absolute;*/
    /*top: 20px;*/
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    /*left: 10px;*/
    /*float: left;*/
    z-index: 10;
}

.block-menu-festival-link-date-filter{
    float: left;
    display: block;
    width: 95px;
    margin-top: 25px;
    margin-left: 10px;
    position: relative;
    z-index: 10;
}

/*--------------------------------inVisible-------------------------*/
.closed-ul-filter{
    display: none;
}
/*----------------------------------------------------------------------------*/
.type-filter-events-all,
.date-filter-events-all,
.tax-filter-events-all{
    display: block;
    margin-bottom: 5px;
    /*position: relative;*/
    /*width: 100px;*/
}

.type-filter-events-all img,
.date-filter-events-all img,
.tax-filter-events-all  img{
    /*float: right;*/
    margin-bottom: 3px;
    /*margin: 0;*/
    padding: 0;
}

.type-filter-events-all a,
.date-filter-events-all a,
.tax-filter-events-all  a{
    padding: 0;
    margin: 0;
}

.filter-button{
    /*margin-top: 5px;*/
    /*margin-left: 10px;*/
    width: 70px;
    float: left;
    cursor: pointer;
}

.filter-button:hover{
    text-decoration: underline;
}   

#filter-ul ul{
    list-style: none;
    padding: 0;
    /*margin-left: 10px;*/
    margin-bottom: 0;
}

#filter-ul ul li{
    border: 0;
    width: 80px;
}

#filter-ul ul li a{
  /*padding: 0.4em 10px 0.4em 10px;*/
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#filter-ul ul li a:hover {
    text-decoration: underline;
}

#filter-ul ul li img{
    float: right;
    margin-top: 7px;
    padding: 0;
}

/*----------------------------Cart icon---------------------------------------*/
.page-events #block-system-main .views-view-grid .buy-link-cart,
.page-festival #block-system-main .views-view-grid .buy-link-cart{
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.views-view-grid .views-field-add-to-cart-form .commerce-add-to-cart input{
    background: url(../images/commerce/cart_big.png) no-repeat center 0;
    
    -moz-border-radius: 0;
    border-radius: 10px 10px 10px 10px;

    border-width: 0;
    border-style: none;

    width: 22px;
    height: 21px;
    margin: 0;
    padding: 0;
    
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.views-view-grid .views-field-add-to-cart-form .commerce-add-to-cart input:focus,
.views-view-grid .views-field-add-to-cart-form .commerce-add-to-cart input:active{
    box-shadow: none;
    z-index: 2;
}

/*---------------------------количество товара--------------------------------*/
.block-menu-festival-link-tiny-cart{
    /*float: left;*/
    /*width: 15px;
    height: 15px;*/
    position: absolute;
    right: 250px;
    top: 40px;
    z-index: 10;
    float: left;
}

/*-------------------------for a festivale page-------------------------------*/
.page-festival .block-menu-festival-link-tiny-cart{
    position: absolute;
    right: 250px;
    top: 45px;
    z-index: 10;
    float: left;
}
/*-----------------------------------------------------------------------------*/

.block-menu-festival-link-tiny-cart .tiny-cart-block img{
    margin: 0;
    padding: 0;
    float: left;
}

.block-menu-festival-link-tiny-cart .tiny-cart-block p{
    margin: 0;
    padding: 0;
    float: right;
    font-style: italic;
    font-size: 8px;
    font-family: sans-serif;
}

/*----------------------------------breadcrumbs-------------------------------*/
/*#region-content #breadcrumb{
    width: 350px;
    float: right;
    text-align: right;
    margin-right: 15px;
    font-size: 10px;
    font-style: italic;
    text-decoration: none;
    color: black;
    z-index: 20;
}

#region-content #breadcrumb a{
    text-decoration: none;
    color: black;
    z-index: 20;
}

#region-content #breadcrumb a:hover{
    text-decoration: underline;
    z-index: 20;
}*/