/*.node-type-festival #block-system-main .pane-festivals #festival-content{
    width: 550px;
    /*height: 450px;/
    position: relative; 
    /*background: url(../images/festival_bg.png) no-repeat center 0;/
    background: white;
}*/

/*.node-type-festival #block-system-main .pane-festivals #festival-content{*/

/*------------------------просмотр события/фестиваля------------------------------------*/
/*-----------------------------------Заголовки--------------------------------*/
/*.node-type-event #page-title,
.page-news #page-title{
    display: none;
}*/

.page-node .region-content-inner,
.page-news .region-content-inner{
    background: #FFFFFF;
    background-position: center;
}

.page-node .panels-flexible-region-new-center,
.page-news .panels-flexible-region-new-center{
    width: 100%;
}

/*.page-node .pane-festivals h2{
    display: none;
}

.page-node #region-content h1{
    display: none;
}*/

.page-node .node_left_part,
.page-news #region-content .node_left_part{
    width: 150px;
    float: left;
}

.page-node .node_right_part,
.page-news #region-content .node_right_part{
    width: 400px;
    float: right;
}

/*festivale image*/
/*.page-node .node_left_part /*#festival-content/ .views-field-field-festival-image,*/
.page-news .node_left_part /*#festival-content*/ .views-field-field-news-image{
    float: left;
    display: block;
}

.page-node .node_left_part /*#festival-content*/ .views-field-field-festival-image img,
.page-node .node_left_part /*#festival-content*/ .views-field-field-event-image img,
.page-news #region-content .node_left_part .views-field-field-news-image img{
    margin: 45px 0 10px 15px;
    
}

.page-node .node_left_part .views-field-field-event-image-2 img{
    margin: 10px 0 10px 15px;
}

/*festivale text*/
.page-node .node_right_part .views-field-body,
.page-news #region-content .node_right_part .views-field-body{/*p*/
    float: right;
    margin: 20px 20px 15px 15px;
    text-align: left;
}

/*news title*/
.page-news #region-content .node_right_part .views-field-title a{
    text-decoration: none;
    color: black;
}

/*festivale title*/
.page-node .views-field-title,
.page-news #region-content .views-field-title{
    margin: 45px 20px 5px 15px;
}

/*events date*/
.page-node .views-field-field-festival-date,
.page-node .node-event-date,
.page-node .node-event-price,
.page-node .buy-link-cart,
.page-node .Saver-price,
.page-news .views-field-field-author,
.page-news .views-field-field-publication-date{
    margin: 0 20px 5px 15px;
}

/*.page-node .buy-link-cart{
    margin: 0 20px 5px 15px;
}*/


.page-node .node_left_part a{
    margin-left: 15px;
}

.page-node .node_right_part .views-field-sharethis,
.page-news #region-content .node_right_part .views-field-sharethis{
    /*position: absolute;*/
    float: right;
    margin-bottom: 5px;
    margin-right: 15px;
    /*width: 110px;*/
    z-index: 2;
    /*right: 10px;
    bottom: 250px;*/
}

/*why not try field*/

.page-node .pane-events-all #wntt,
.page-node .pane-events-all h2{
    width: 400px;
    float: right;
}

.page-node .pane-events-all h2{
    border-top: 1px solid gray;
}

.page-node .pane-events-all #wntt .events-body{
    /*margin: 105px 0 0 15px;*/
    /*margin: -50px 0 0;+++++++++*/
    
   /* background: #231f20;
    width: 135px;
    height: 50px;
    position: absolute; 
    text-align: left;
    font: normal 'trebuchet MS', tahoma, arial, helvetica;
    overflow: hidden;*/
   
    background: #231f20;
    width: 135px;
    height: 50px;
    position: absolute; 
    top: 100px;
    text-align: left;
    font: normal 'trebuchet MS', tahoma, arial, helvetica;
    overflow: hidden;
}

.page-node .pane-events-all #wntt .events-body p,
.page-node .pane-events-all #wntt .events-body a{
    margin-bottom: 3px;
    color: white;
}

.page-node .pane-events-all #wntt .events-body p{
    margin-left: 5px;
}

.page-node .pane-events-all #wntt .events-body .views-field-title{
    margin-left: 5px;
    font-size: 10px;
    margin-bottom: 3px;
}

.page-node .pane-events-all #wntt .events-body .views-field-title a{
    text-decoration: none;
    color: #fff;
}

.page-node .pane-events-all #wntt .events-body .views-field-title a:hover{
    text-decoration: none;
    color: #fff;
}

.page-node .pane-events-all #wntt .events-body .views-field-body{
    margin-left: 5px;
    font-size: 8px;
    color: #fff;
    margin-bottom: 3px;
}

/*----------------------------------border news-------------------------------*/
.page-news #region-content #news-content{
    clear: both;
    /*position: relative;*/
    display: block;
    width: 550px;
    /*border-bottom: 1px solid gray;*/
}

.page-news #region-content .node_right_part{
    border-bottom: 1px solid gray;
}

/*
.page-news .news-border-line{
    width: 550px;
}

.page-news .news-border-line hr{
    width: 500px; 
    text-align: left;
    size: 1;
    color: gray;
    background-color: gray;
    border: none;
}*/


/*---------------------------margin on basic page----------------------------*/
.page-node article{
    margin: 10px;
}
