/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#page{
    margin: 0 auto;
    padding: 0;
    width: 1020px;
    height: 1820px;
    background: url(../images/bg.png) no-repeat;
    /*position: relative;*/
}
/*header*/
#zone-branding-wrapper{
    width: 960px;
    height: 113px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: absolute;*/
    position: relative;
    background: url(../images/header/header.png) no-repeat center 0;  
}

#zone-branding{
    width: 960px;
    height: 113px;
}

#region-branding{
    margin: 0;
    width: 960px;
    height: 113px;
}

.branding-data{
    width: 960px;
    height: 113px;
}

/*Search block*/
#block-search-form{
    margin: 0;
    float: right;
    position: absolute;
    right: 15px;
    top: 12px;
    z-index: 10;
}
/*input text field*/
#search-block-form .form-text{
    width: 138px;
    height: 13px;
    border: none;
    background: url(../images/header/searchbox.png) no-repeat bottom;
    text-indent: 5px;
    font-size: 12px;
}

/*input button(submits)*/
#search-block-form .form-submit{
    background: url(../images/header/searchbutton.png) no-repeat 0 0;
    overflow: hidden;
    width: 17px;
    height: 16px;
    cursor: pointer;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    top: 5px;
    border-radius: 0;
}

/*pattern in the right corner*/
#pattern img{
    float: right;
    /*padding-top: 5px;*/
    position: relative;
    z-index: 1;
    /*margin-right: 10px;*/
    margin-top: 5px;
}

/*site slogan*/
.site-slogan{
    display: block;
    width: 300px;
    height: 40px;
    float: right;
    position: absolute;
    right: 15px;
    top: 65px;
    z-index: 10;
}


/*zone menu*/
#zone-menu-wrapper{
    width: 960px;
    height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: absolute; */
    position: relative;
    top: 118px;
    background: url(../images/header/menu_bg.png) no-repeat center 0;
}

#zone-menu{
    width: 960px;
    height: 32px;
}

#region-menu{
    margin: 0;
    width: 960px;
    height: 32px;
}

ul.nice-menu,
ul.nice-menu ul{
    margin: 0;
    padding: 0;
    list-style: 0;
}

ul.nice-menu li{
    float: left;
    list-style: none;
    position: relative;
    background-color: inherit;
    border: none;
}
ul.nice-menu li a{
    display: block;
    height: 21px;
    /*padding-left: 10px;
    padding-right: 10px;*/
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    color: black;
}

/*Slider zone*/
#zone-header-wrapper{
    width: 960px;
    height: 262px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: absolute;  */
    position: relative;
    top: 165px;
    background: url(../images/slider/slider_bg.png) no-repeat center 0;
}

#zone-header{
    width: 960px;
    height: 32px;
}

#region-header{
    margin: 0;
    width: 960px;
    height: 32px;
}

/*section-content*/
#zone-content-wrapper{
    
}

#zone-content{
    
}

#region-content{
    
}

#region-sidebar{
    
}

/*section-footer*/
#zone-footer-wrapper{
    width: 960px;
    height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;  
   /* top: 1780px;*/
    top: 341px;
    background: url(../images/footer/footer_bg.png) no-repeat center 0;
}

#zone-footer{
    width: 960px;
    height: 42px;
}

#region-footer{
    margin: 0;
    width: 960px;
    height: 42px;
}
#block-system-powered-by{
    float: left;
    margin: 10px 10px;
}
/*
body {
	background-color: pink;
}
*/
#section-content{
            margin-top: 700px;
}
.festival_homepage_social .social_icon{
	width: 100px;
}

.region-sidebar .block {
	margin-top: 20px;
	background-color: white;
}
/*
.slider-left-part {
	background-color: red;
	float: left;
	width: 190px;
	height: 200px;
}*/

.block-slider {
  /*  width: 960px;
    height: 262px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;  
    top: 165px;
    background: url(../images/slider/slider_bg.png) no-repeat center 0;*/
	/*background-color: white;
	padding: 10px;*/
}

.views-field-field-slider-image {
	float: right;
}

/*something like that I don't remember*/

.social_block .social_icon {
	display: inline;
}

.festival-color1 .festival-left-part {
	background-color: green;
}

.festival-color2 .festival-left-part {
	background-color: orange;
}

.festival-color3 .festival-left-part {
	background-color: red;
}

.festival-left-part {
	float: left;
	width: 150px;
	height: 300px;
}

.fest_row_homepage {
	background-color: white;
	margin-bottom: 20px;
	width: 550px;
	padding: 10px;
}

#scrollbarY { width: 470px; margin: 20px 0 10px;}
#scrollbarY .viewport { width: 450px; height: 300px; overflow: hidden; position: relative; background-color: blue;}
#scrollbarY .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbarY .scrollbar{ background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbarY .track { background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbarY .thumb { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbarY .thumb .end { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbarY .disable { display: none; }