/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body{
    /* background: url(../images/bg_2k.jpg) no-repeat;*/
}

#page{
    margin: 0 auto;
    padding: 0;
    width: 1020px;
    height: 1820px;
    background: url(../images/bg.png) no-repeat;
    /*position: relative;*/
}

/*header*/
#section-header{
    width: 1020px;
    height: 430px;
}

#zone-branding-wrapper{
    width: 960px;
    height: 113px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: absolute;*/
    position: relative;
    background: url(../images/header/header.png) no-repeat center 0;  
}

#zone-branding{
    width: 960px;
    height: 113px;
}

#region-branding{
    margin: 0;
    width: 960px;
    height: 113px;
}

.branding-data{
    width: 960px;
    height: 113px;
}

/*pattern in the right corner*/
#pattern img{
    float: right;
    /*padding-top: 5px;*/
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
    /*margin-right: 10px;*/
    /*margin-top: 5px;*/
}

/*site slogan*/
.site-slogan{
    display: block;
    width: 300px;
    height: 40px;
    float: right;
    position: absolute;
    right: 15px;
    top: 65px;
    z-index: 10;
}

/*zone menu*/
#zone-menu-wrapper{
    width: 960px;
    height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: absolute; */
    position: relative;
    top: 5px;
    background: url(../images/header/menu_bg.png) no-repeat center 0;
}

#zone-menu{
    width: 960px;
    height: 32px;
}

#region-menu{
    margin: 0;
    width: 960px;
    height: 32px;
}

/*Share component*/
#block-sharethis-sharethis-block{
    /*display: block;
    width: 110px;
    position: relative;
    top: -25px;
    float: right;
    z-index: 20;*/
    float: right;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 110px;
    z-index: 20;
}


/*section content*/
#section-content{
    position: relative;
    top: 20px;
    width: 1020px;
    height: 1325px; 
}

#zone-content-wrapper{
    margin: 0;
    padding: 0;
    width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;  
    /*top: 20px;*/
}

#zone-content{
    margin: 0;
    padding: 0;
    width: 960px;
}


/*section footer*/
#section-footer{
    /*top: 30px;*/
    width: 1020px;
    height: 42px; 
}

#zone-footer-wrapper{
    width: 960px;
    height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    /*position: relative;  */
    position: absolute;
    /*top: 1780px;*/
    top: 1807px;
    /*top: 458px;*/
    background: url(../images/footer/footer_bg.png) no-repeat center 0;
}

#zone-footer{
    width: 960px;
    height: 42px;
}

#region-footer{
    margin: 0;
    width: 960px;
    height: 42px;
}

#block-system-powered-by{
    float: left;
    margin: 10px 10px;
}