/*Обновленный глобал*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { 
    display: block;
}

#background-image{
    z-index: 1;
}

#page{
    margin: 0 auto;
    width: 1020px;
    z-index: 2;
}

/*-----------------Site sections------------*/
#section-header{
    width: 1020px;
    height: 430px;
    z-index: 2;
}

#section-content{
    width: 1020px;
    position: relative;
    top: 20px;
    z-index: 2;
}

#section-footer{
    clear: both;
    position: relative;
    top: 40px;
    width: 1020px;
    z-index: 2;
}

/*-------------------Wrappers---------------*/
#zone-branding-wrapper{
    margin: 0 auto;
    width: 960px;
    z-index: 2;
}

#zone-menu-wrapper{
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 5px;
    z-index: 20;
}

#zone-header-wrapper{
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 15px;
    z-index: 2;
}

#zone-content-wrapper{
    margin: 0 auto;
    width: 960px;
    z-index: 2;
}

#zone-footer-wrapper{
    margin: 0 auto;
    width: 960px;
    z-index: 2;
}

/*----------------------------------Zones--------------------------------------*/
#zone-branding{
    margin: 0 auto;
    width: 960px;
}

#zone-menu{
    margin: 0 auto;
    width: 960px;
}

#zone-header{
    margin: 0 auto;
    width: 960px;
}

#zone-content{
    margin: 0 auto;
    width: 960px;
}

#zone-footer{
    margin: 0 auto;
    width: 960px;
}

/*----------------Regions--------------------*/
#region-branding{
    margin: 0 auto;
    width: 960px;
    height: 113px;
    background: #FFFFFF;
    z-index: 2;
}

#region-menu{
    margin: 0 auto;
    width: 960px;
    height: 32px;
    background: #FFFFFF;
    z-index: 2;
}

#region-header{
    margin: 0 auto;
    width: 960px;
    height: 262px;
    background: #FFFFFF;
    z-index: 2;
}

#region-content{
    margin: 0;
    padding: 0;
    width: 550px;
    float: left;
}

#region-sidebar{
    margin: -5px 0 0;
    padding: 5px 2px 5px 5px;
    width: 395px;
    float: right;
    background: url(../images/sidebar-bg.png) repeat;
}

#region-footer{
    margin: 0 auto;
    width: 960px;
    height: 42px;
    background: #FFFFFF;
    z-index: 2;
}
/*------------------------pattern in the right corner--------------------*/
#pattern img{
    float: right;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 3;
}

/*-------------------------site slogan-----------------------------------*/
#site-slogan{
    width: 300px;
    height: 40px;
    float: right;
    position: absolute;
    right: 15px;
    top: 65px;
    z-index: 10;
}

#site-slogan .site-slogan{
    text-align: right;
    /*font-family: sans-serif;*/
    font-size: 16px;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-style: italic;
    color: #58595b;
}

/*-------------------------Share component---------------------------------*/
#block-sharethis-sharethis-block{
    float: right;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 110px;
    z-index: 20;
}

/*------------------------------footer menu-----------------------------------*/
#region-footer .block-nice-menus .nice-menu{
    font-size: 10px;
}

#region-footer .block-nice-menus .nice-menu li a{
    border-right: 1px solid black;
    padding: 0;
    padding-left: 3px; 
    padding-right: 3px;
}

#region-footer .images{
    padding-top: 10px;
    padding-left: 10px;
    height: 42px;
    background: url("../images/footer/footer_images.png") no-repeat scroll top right #FFFFFF;
    z-index: 10;
}
