/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /*border-top: 1px solid #ccc;*/
}

ul.nice-menu li {
  border: none;
  border-top: 0;
  float: left; /* LTR */
  /*background-color: white;*/
}

ul.nice-menu a {
  padding: 0.7em 10px 0.4em 10px;
  text-decoration: none;
  color: #58595b;
}

ul.nice-menu a:hover {
    text-decoration: underline;
}

ul.nice-menu ul {
 /* top: 1.8em;
  left: -1px; /* LTR */
  top: 30px;
  left:-1px;
  border: 0;
  /*border-top: 1px solid #ccc;*/  /*граница между родитель�?ким и дочерними*/
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
  background: white;
}

ul.nice-menu ul li a{
  text-align: left;
}

ul.nice-menu ul li a:hover{
  text-decoration: underline;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

/*ul.nice-menu-down li {
  border-top: 1px solid #ccc;
}*/

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}
/*
ul.nice-menu-down ul li a:hover {
    text-decoration: underline;
}*/

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

/*
ul.nice-menu-down li.menuparent {
  background: #eee url(arrow-down.png) right center no-repeat; 
}

ul.nice-menu-down li.menuparent:hover {
  background: #ccc url(arrow-down.png) right center no-repeat; 
}

ul.nice-menu-down li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat;*
}

ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat; 
}*/