/*Search block*/
#block-search-form{
    /*margin: 0;
    padding: 0;*/
    float: right;
    position: absolute;
    right: 15px;
    top: 12px;
    z-index: 10;
}

#search-block-form{
    /*margin: 0;
    padding: 0;*/
    border-width: 0px;
    border-style: none;/*solid;*/
    /*border-color: #c4d9df #a4c3ca #83afb7;*/
    width: 150px;
    height: 13px;
    overflow: hidden; /* Clear floats */
}

#search-block-form .form-item-search-block-form input{
    margin: 0;
    padding: 0;
   /* height: 13px;*/
    padding-bottom: 5px;
    width: 138px;
    border: none;
    font: normal 10px 'trebuchet MS', arial, helvetica;
    background: url(../images/header/searchbox.png) no-repeat center 0;
    text-indent: 5px;

    -moz-border-radius: 0;
     border-radius: 0;
     
     float: left;
     position: relative;
     box-shadow: none;
}

#search-block-form .form-actions input{
    background: url(../images/header/searchbutton.png) no-repeat center 0;
    
    -moz-border-radius: 0;
    border-radius: 0;

    border-width: 0;
    border-style: none;

    width: 12px;
    height: 13px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    float: right;
    position: relative;
    box-shadow: none;
}

#edit-actions .form-submit::-moz-focus-inner
{
    margin: 0;
    padding: 0;
    border: 0;  /* Small centering fix for Firefox */
}