#region-sidebar #scrollbarY .block-litkicks-block-1,
#region-sidebar #scrollbarY section{ /*.overview .block*/
    width: 370px;
    position: relative;
    background: white;
    margin-bottom: 10px;
}

#region-sidebar #scrollbarY  iframe{
     width: 370px;
    position: relative;
    background: white; /*#FFFFFF*/
    margin-bottom: 10px;
}

#region-sidebar #scrollbarY  section .block-inner{
    padding: 10px;
}
#region-sidebar #scrollbarY .block-litkicks-block-1 .block-inner{
    padding: 10px 10px 2px 10px;
}

#region-sidebar #scrollbarY h2.block-title {
    padding-top:0;
    font-size: 15px;
    font-weight: normal;
    color: #333333;
    line-height: 1em;
    margin-bottom: 10px;
}
#region-sidebar #scrollbarY .block-litkicks-litkicksblock h2.block-title {
    display: none;
}
#region-sidebar #scrollbarY h2.field-content {
    line-height: 1em;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #333333;
}
#region-sidebar #scrollbarY .views-field-body{
    color: #333333;
    font-size: 11px;
    font-style: italic;
    line-height: 1.1em;
    margin-bottom: 10px;
}
#region-sidebar #scrollbarY .views-field-sharethis{
    float: right;
    margin-right: 5px;
    /*width: 110px;*/
    z-index: 2;
}

#region-sidebar #scrollbarY .views-field-field-news-image{
    float: left;
    margin-right: 10px;
}

#region-sidebar #scrollbarY .views-row .node-left-part{
    width: 215px;
    float: left;
}

#region-sidebar #scrollbarY .views-row .node-right-part{
    width: 125px;
    float: right;
}

#region-sidebar #scrollbarY .views-row .node_right_part .views-field-title a{
    text-decoration: none;
    color: black;
}

/*Donate title*/
#region-sidebar #scrollbarY .views-field-title{
    
}

#region-sidebar #scrollbarY .views-field-title a{
    text-decoration: none;
    color: black;
}

/*sidebar image*/
#region-sidebar #scrollbarY .views-row .node_left_part /*#festival-content*/ .views-field-field-news-image{
    float: left;
    display: block;
}

#region-sidebar #scrollbarY .views-row .node_left_part /*#festival-content*/ .views-field-field-festival-image img{
    margin: 45px 0 10px 15px;  
}

#region-sidebar #scrollbarY .views-row .node_left_part .views-field-field-event-image-2 img{
    margin: 10px 0 10px 15px;
}

.page-news #region-sidebar #scrollbarY .views-row .node_left_part .views-field-field-festival-image img,
.page-node #region-sidebar #scrollbarY .views-row .node_left_part .views-field-field-festival-image img{
    margin: 0;  
}

/*------------------------------twitter-----------------------------------------*/
#scrollbarY #block-block-4 .hc-details{
 position: relative;
 top: 0px;
 box-shadow: none;
}

#scrollbarY #block-block-4 .hc-details .s-action{
 position: relative;
}


#scrollbarY { width: 395px;/* margin: 20px 0 10px;*/}
#scrollbarY .viewport { width: 380px; /*min-*/height: 1200px; overflow: hidden; position: relative;}
#scrollbarY .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbarY .scrollbar{ background: transparent url(sb/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbarY .track { background: transparent url(sb/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbarY .thumb { background: transparent url(sb/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -7px;}
#scrollbarY .thumb .end { background: transparent url(sb/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbarY .disable { display: none; }