.static-header{
    padding-top: 11px;
    padding-bottom: 11px;
    height: 242px;
    width: 930px;
    padding-left: 15px;
    padding-right: 15px;
}

.view-slider .views-row{
    width: 960px;
}

.slider-left-part{
    float: left;
    line-height: 1.2em;
    font-size: 18px;
    color: #ffffff;
    margin: 15px 0 15px 15px;
    width: 279px;
    height: 219px;
    padding: 8px;
    background: url(../images/slider/slider_bg.png) no-repeat top left;
}
.slider-left-part .views-field-sharethis{
    position: absolute;
    bottom: 24px;
}
.slider-right-part{
    padding: 15px 0;
}

.views-field-field-slider-image{
    z-index: 1;
}
.views-slideshow-controls-bottom{
    float: right;
    margin-top: -12px;
    margin-right: 12px;
}
.views-slideshow-controls-bottom .views-content-title{
    display: none;
}
.views-slideshow-controls-bottom .views-slideshow-pager-field-item{
    float: left;
    margin-right: 3px;
    width: 7px;
    height: 7px;
    background: url(../images/slider/slider_btn.png) no-repeat top left;
}
.views-slideshow-controls-bottom .active{
    background: url(../images/slider/slider_active.png) no-repeat top left !important;
}
/*slider image*/
.views-field-field-slider-image img{
    z-index: 1;
}