/*#zone-header{
    margin: 0;
    padding: 0;
    width: 960px;
    height: 262px;
}

#region-header{
    margin: 0;
    width: 960px;
    height: 262px;
    background: white;
}
*/

.view-slider .views-row{
    width: 960px;
}

.slider-left-part{
    float: left;
    line-height: 1.2em;
    font-size: 18px;
    color: #ffffff;
    margin: 15px 0 15px 15px;
    width: 279px;
    height: 219px;
    padding: 8px;
    background: url(../images/slider/slider_bg.png) no-repeat top left;
}
.slider-left-part .views-field-sharethis{
    position: absolute;
    bottom: 24px;
}
.slider-right-part{
    padding: 15px 0;
}

.views-field-field-slider-image{
    z-index: 1;
}

/*slider image*/
.views-field-field-slider-image img{
    /*position: absolute;*/
    /*padding: 15px 3px 15px 15px; */
    /*margin: 15px 3px 15px 15px;*/
    z-index: 1;
}

/*title of text on slider*/
/*#block-views-slider-block .view-slider .slider-left-part .views-field-title{
    display: none;
}*/

/*text slider*/
#block-views-slider-block .view-slider .slider-left-part .views-field-body{/*p*/
   /* text-align: left;
    width: 296px;
    height: 210px;
    position: absolute;
    margin: 15px 3px 15px 15px;
    padding: 10px;
    z-index: 10;*/
}


/*.slider-left-part .views-field-body p{
    margin-bottom: 0;
}*/
