.static-header{
    padding-top: 11px;
    padding-bottom: 11px;
    height: 242px;
    width: 930px;
    padding-left: 15px;
    padding-right: 15px;
}

.view-slider .views-row{
    width: 960px;
}

.slider-left-part{
    float: left;
    line-height: 1.2em;
    font-size: 18px;
    color: #ffffff;
    margin: 15px 0 15px 15px;
    width: 279px;
    height: 219px;
    padding: 8px;
    background: url(../images/slider/slider_bg.png) no-repeat top left;
}
.slider-left-part .views-field-sharethis{
    position: absolute;
    bottom: 24px;
}
.slider-right-part{
    padding: 15px 0;
}

.views-field-field-slider-image{
    z-index: 1;
}

/*slider image*/
.views-field-field-slider-image img{
    z-index: 1;
}